Manipulate/.vs/Manipulate/v16/Browse.VC.db
Manipulate/.vs/Manipulate/v16/Browse.VC.db-shm
Manipulate/.vs/Manipulate/v16/Browse.VC.db-wal
Manipulate/.vs/Manipulate/v16/Browse.VC.opendb
Manipulate/.vs/Manipulate/v16/ipch/AutoPCH/a144048c2fa3c49f/MANIPULATE.ipch
