Manipulate/.vs/Manipulate/v16/Browse.VC.db
Manipulate/.vs/Manipulate/v16/Browse.VC.db-shm
Manipulate/.vs/Manipulate/v16/Browse.VC.db-wal
Manipulate/.vs/Manipulate/v16/Browse.VC.opendb
Manipulate/.vs/Manipulate/v16/ipch/AutoPCH/a144048c2fa3c49f/MANIPULATE.ipch
Manipulate/.vs/Manipulate/v16/.suo
Manipulate/x64/Debug/Manipulate.exe
Manipulate/x64/Debug/Manipulate.exe.recipe
Manipulate/x64/Debug/Manipulate.ilk
Manipulate/x64/Debug/Manipulate.log
Manipulate/x64/Debug/Manipulate.obj
Manipulate/x64/Debug/Manipulate.pdb
Manipulate/x64/Debug/Manipulate.vcxproj.FileListAbsolute.txt
Manipulate/x64/Debug/vc142.idb
Manipulate/x64/Debug/vc142.pdb
Manipulate/x64/Debug/Manipulate.tlog/CL.command.1.tlog
Manipulate/x64/Debug/Manipulate.tlog/CL.read.1.tlog
Manipulate/x64/Debug/Manipulate.tlog/CL.write.1.tlog
Manipulate/x64/Debug/Manipulate.tlog/link.command.1.tlog
Manipulate/x64/Debug/Manipulate.tlog/link.read.1.tlog
Manipulate/x64/Debug/Manipulate.tlog/link.write.1.tlog
Manipulate/x64/Debug/Manipulate.tlog/Manipulate.lastbuildstate
